<div layout="vertical" layout-fill>

  <md-content class="main-content">

    <section class="jumbotron search-header">
      <h1>Entity Viewer</h1>
      <md-input-container class="search">
        <label class="md-no-float">Search</label>
        <input class="search-box" type="text" ng-model="vm.searchString"  my-enter="vm.search(vm.searchString)">
      </md-input-container>
    </section>

    <div class="techs" layout-align="center">
      <md-card ng-repeat="entity in vm.entities">
        <md-card-content>
          <img class="pull-right" ng-src="assets/images/entity.png" alt="{{ entity.name }}">
          <h3 class="md-title">{{ entity.name }}</h3>
          <p>{{ entity.affiliation['affiliation-country'] }} | {{ entity.affiliation['affiliation-city'] }} | {{ entity.affiliation['affilname'] }} </p>
        </md-card-content>
      </md-card>
    </div>
  </md-content>

</div>
