<div layout="vertical" layout-fill>

  <md-content class="main-content">

    <section class="jumbotron search-header">
      <h1>Entity Viewer</h1>
      <md-input-container class="search">
        <label class="md-no-float">Search</label>
        <input class="search-box" type="text" ng-model="vm.searchString"  my-enter="vm.search(vm.searchString)">
      </md-input-container>
    </section>

  <div class="results" layout="row" layout-sm="column" ng-if="vm.activated">
    <div flex></div>
    <div class="titel" flex> Results </div>
    <div class="info" flex>
        <i class="fa fa-star fa-2x" aria-hidden="true"></i> &nbsp;&nbsp;Watson Entity score <br>
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> &nbsp;&nbsp;Number of related articles in last 6 years<br>
        <i class="fa fa-header" aria-hidden="true"></i> &nbsp;&nbsp;Author's Hirsch index <br>
        <i class="fa fa-commenting-o" aria-hidden="true"></i> &nbsp;&nbsp;Total number of citations on the related articles <br>
        <i class="fa fa-inbox" aria-hidden="true"></i> &nbsp;&nbsp;Total number of published articles
    </div>
  </div>

    <div class="techs">
      <md-card ng-repeat="entity in vm.entities" ng-click="vm.inspectEntity($event, entity)">
        <div flex layout="row">
          <md-card-content flex >
            <h2 class="pull-right"> <i class="fa fa-star fa-2x" aria-hidden="true"></i> {{ entity.score | number:0 }} </h2>
            <h3 class="md-title">{{ entity.name }}</h3>
            <p class="affiliation">{{ entity['affiliation-current']['affiliation']['ip-doc']['afdispname'] }} </p>
            <h4 class="stats">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ entity.articles.length }} |
              <i class="fa fa-header" aria-hidden="true"></i> {{ entity['h-index'] }} |
              <i class="fa fa-commenting-o" aria-hidden="true"></i> {{ entity['cited-by-count'] }} |
              <i class="fa fa-inbox" aria-hidden="true"></i> {{ entity['document-count'] }}
            </h4>
          </md-card-content>
        </div>
      </md-card>
    </div>
  </md-content>

</div>
