<div layout="vertical" layout-fill>

  <md-content class="main-content">

    <section class="jumbotron search-header">
      <h1>Entity Viewer</h1>

      <form name='SearchForm' ng-if='!vm.useRFA' ng-submit="vm.search(vm.searchstring)">
        <md-input-container class="search">
          <label class="md-no-float search-label">Search</label>
          <input class="search-box" type="text" ng-model="vm.searchString">
        </md-input-container>
      </form>

      <form name='RFAform' ng-if='vm.useRFA' ng-submit="vm.rfa(RFAfile)">
        <md-input-container layout="row" layout-align="center center">
          <lf-ng-md-file-input name="file" class='RFAinput' lf-required lf-files='RFAfile' accept="text/plain" lf-mimetype="text/plain" lf-placeholder="input RFA"> </lf-ng-md-file-input>
        </md-input-container>
        <div ng-messages="RFAform.file.$error">
          <div class='RFAinputError' ng-message="mimetype" ng-show='!RFAform.$invalid'>The RFA needs to be in a *.txt file</div>
        </div>
        <md-input-container layout="row" layout-align="center center">
          <md-button type="submit" ng-disabled="RFAform.$invalid" class="md-raised md-primary RFAsubmit">Search</md-button> 
          <!--<md-button class="md-raised" type='submit'>Search</md-button>-->
        </md-input-container>
      </form>

      <div layout="row" layout-align="center">
        <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="vm.useRFA" >
          Input RFA
        </md-switch>
      </div>
    </section>

    <div class="results" layout="row" layout-sm="column" ng-if="vm.activated">
      <div flex></div>
      <div class="titel" flex> Results </div>
      <div class="info" flex>
        <table>
          <tr>
            <td class='center'> <i class="fa fa-star fa-2x" aria-hidden="true"></i> </td>
            <td>Watson Entity score </td>
          </tr>
          <tr>
            <td class='center'> <i class="fa fa-file-pdf-o" aria-hidden="true"></i> </td>
            <td>Number of related articles in last 6 years </td>
          </tr>
          <tr>
            <td class='center'> <i class="fa fa-header" aria-hidden="true"></i> </td>
            <td>Author's Hirsch index </td>
          </tr>
          <tr>
            <td class='center'> <i class="fa fa-commenting-o" aria-hidden="true"></i> </td>
            <td>Total number of citations </td>
          </tr>
          <tr>
            <td class='center'> <i class="fa fa-inbox" aria-hidden="true"></i> </td>
            <td>Total number of published articles </td>
          </tr>
        </table>
      </div>
    </div>

    <br>
    
    <div class="techs">
      <md-card ng-repeat="entity in vm.entities" ng-click="vm.inspectEntity($event, entity)">
        <div flex layout="row">
          <md-card-content flex >
            <h2 class="pull-right"> <i class="fa fa-star fa-2x" aria-hidden="true"></i> {{ entity.score | number:0 }} </h2>
            <h3 class="md-title">{{ entity.name }}</h3>
            <p class="affiliation">{{ entity['affiliation-current']['affiliation']['ip-doc']['afdispname'] }} </p>
            <h4 class="stats">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i> {{ entity.articles.length }} |
              <i class="fa fa-header" aria-hidden="true"></i> {{ entity['h-index'] }} |
              <i class="fa fa-commenting-o" aria-hidden="true"></i> {{ entity['cited-by-count'] }} |
              <i class="fa fa-inbox" aria-hidden="true"></i> {{ entity['document-count'] }}
            </h4>
          </md-card-content>
        </div>
      </md-card>
    </div>
    
  </md-content>

</div>
