<md-dialog aria-label="{{ vm.entity.name }}"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>{{ vm.entity.name }}</h1>
        <span flex></span>
        <md-button class="md-raised" aria-label="Search on Google" href="https://www.google.se/search?q={{ vm.entity.name }} {{ vm.entity['affiliation-current']['affiliation']['ip-doc']['afdispname'] }}" target="_blank">
          Search on Google
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>{{ vm.entity.name }}</h2>
        <p>
          Watson Enitiy score: {{ vm.entity['score'] | number:0 }} 
        </p>

        <h3>Affiliation</h3>
        <p>
          Current works at {{ vm.entity['affiliation-current']['affiliation']['ip-doc']['afdispname'] }} <br>
          located in {{ vm.entity['affiliation-current']['affiliation']['ip-doc']['address']['city'] }}, {{ vm.entity['affiliation-current']['affiliation']['ip-doc']['address']['country'] }}. <br>
          <span ng-if="vm.entity['affiliation-current']['affiliation']['ip-doc']['org-URL']">
            <a href="{{ vm.entity['affiliation-current']['affiliation']['ip-doc']['org-URL'] }}" target="_blank"> Link to the institution</a>
          </span>
        </p>

        <h3>Author stats.</h3>
        <p>
          Has written {{ vm.entity['document-count'] }} articles so far during the career. <br>
          The articles has been cited a total of {{ vm.entity['cited-by-count'] }} times. <br>
          Has a Hirsch index of {{ vm.entity['h-index'] }}.
        </p>

        <h3>Related articles</h3>
        <p>
          <ul ng-repeat="article in vm.entity['articles']">
            <li> 
              <b>{{ article['title'] }}</b> <br>
              published in <b>{{ article['journalName'] }}</b>  <br>
              <span ng-if="article['doi']">
                DOI: {{ article['doi'] }}
              </span>
            </li>
          </ul>
        </p>

      </div>
    </md-dialog-content>
  </form>
</md-dialog>
